---
title: UofT Enrolment Charts
---

<h1>UofT Enrolment Charts</h1>

<div id="chart"></div>

<section class="courses">
  <% data.charts[0].contents.each do |dir| %>
    <% unless dir.contents.empty? %>
      <details class="courses__dept">
        <summary><%= dir.name %></summary>
        <ul>
          <% dir.contents.each do |file| %>
            <li>
              <a class="courses__course" href="https://cdn.rawgit.com/arkon/uoft-enrolment-charts/<%= data.commit %>/charts/<%= dir.name %>/<%= file.name %>">
                <%= file.name.chomp('.svg') %>
              </a>
            </li>
          <% end %>
        </ul>
      </details>
    <% end %>
  <% end %>
</section>

<footer>
  Charts generated with <a href="https://github.com/arkon/uoft-enrolment-charts">uoft-enrolment charts</a> / data scraped with <a href="https://github.com/freeatnet/uoft-timetable-archive">uoft-timetable-archive</a>.
</footer>
